.banner {
  margin-bottom: 120px;
}

.banner .main-banner {
  width: 100%;
  height: 292px;
  background-image: url(https://cdn0.fahasa.com/media/wysiwyg/Thang-10-2023/1920x400-zalopay-t10.jpg);
  background-size: contain;
}

.banner .sub-banner {
  display: flex;
  width: 100%;
  height: 350px;
  margin-top: 15px;
}

.sub-banner .leftsub-banner {
  width: 600px;
  height: 100%;
  margin-right: 15px;
  background-color: red;
}

.sub-banner .rightsub-banner {
  width: 785px;
  height: 100%;
  background-color: red;
}

.bestseller-booklist {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 120px;
}
.content h1 {
  text-align: left;
  margin-bottom: 20px;
}

.book-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.book-item {
  position: relative;
  cursor: pointer;
  border: 1px solid #cccccc;
}

.book-item:hover > .book-info {
  display: block;
}

.book-item:hover > img {
  filter: blur(2px);
}

.book-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.book-info {
  display: none;
  position: absolute;
  width: 100%;
  padding: 10px;
  bottom: 0;
  font-size: 14px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.4);
}
.book-item .book-title {
  display: block;
  font-size: 20px;
}
.book-item .book-author {
  display: block;
}

.book-item .book-price {
  color: #ff0000;
  margin-top: 5px;
}

.category-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

.category-content .category-list {
  width: 27%;
  padding: 20px;
  background-color: #ffffff;
}

.category-list .category-item {
  margin: 5px;
  padding: 10px;
}

.category-list .category-item i {
  float: right;
}

.category-list .category-item:hover {
  cursor: pointer;
  background-color: #ff9b50;
}

.category-content .list-content {
  width: 68%;
  padding: 20px;
  background-color: #ffffff;
}
